---
import Layout from "../layouts/Layout.astro";
import logo from "../img/logo.png";
---

<Layout title="This Is Banger">
  <body class="font-sans">
    <header class="w-full px-2 mt-2 z-50 fixed">
      <div
        class="md:w-1/2 w-full flex flex-row items-center justify-between px-4 py-2 mx-auto rounded-full bg-transparente backdrop-blur-lg"
      >
        <div class="flex items-center">
          <img
            class="h-10 w-auto"
            src={logo}
            alt="Logo"
          />
        </div>
        <div class="flex justify-center">
          <div class="flex justify-center items-center w-auto h-10">
            <div class="">
              <button
                class="bg-trasparent p-2 font-bold text-gray-100 rounded-md peer transition-all duration-200"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"
                >
                  <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
                </svg>
              </button>
              <div
                class='w-80 absolute top-5 right-0 z-10 after:content-[""] after:inline-block after:absolute after:top-0 after:w-full after:h-full after:-z-20 peer-focus:top-12 peer-focus:opacity-100 peer-focus:visible transition-all duration-300 invisible opacity-0'
              >
                <ul class="p-0 m-0 flex flex-col gap-3">
                  <li
                    class="cursor-pointer text-white flex items-stretch rounded-lg"
                  >
                    <a href="#gallery" class="w-full h-full p-2 backdrop-blur-lg rounded-lg animate-pulse border">Coming soon...</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="flex flex-col items-center justify-center">
      <section
        class="flex flex-col items-center bg-transparent w-full h-auto pb-20 z-10"
      >
        <div
          class="flex flex-col h-80 items-center justify-center py-16 mt-44 sticky top-32"
        >
          <h1 class="text-2xl text-white">
            La siguiente experiencia Banger será en
          </h1>
          <p id="countdown" class="text-xl text-white"></p>
        </div>
        <div class="w-3/4 h-full flex items-center justify-center z-20">
          <div
            id="event"
            class="w-full h-screen rounded-2xl flex items-start justify-center"
          >
            <p
              class="sticky top-60 text-base text-white text-center backdrop-blur-lg m-10 p-5 rounded-lg"
            >
              Para ser parte de este evento
              <a
                href="https://wa.me/+573007597945?text=Estoy interesado en tu proximo evento"
                target="_blank"
                rel="noopener noreferrer"
              >
                <button
                  class="flex flex-row items-center justify-center mx-auto mt-4 px-2 py-2 rounded-lg border hover:border-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 737.509 740.824"
                  >
                    <path
                      fill="#ffffff"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M630.056 107.658C560.727 38.271 468.525.039 370.294 0 167.891 0 3.16 164.668 3.079 367.072c-.027 64.699 16.883 127.855 49.016 183.523L0 740.824l194.666-51.047c53.634 29.244 114.022 44.656 175.481 44.682h.151c202.382 0 367.128-164.689 367.21-367.094.039-98.088-38.121-190.32-107.452-259.707m-259.758 564.8h-.125c-54.766-.021-108.483-14.729-155.343-42.529l-11.146-6.613-115.516 30.293 30.834-112.592-7.258-11.543c-30.552-48.58-46.689-104.729-46.665-162.379C65.146 198.865 202.065 62 370.419 62c81.521.031 158.154 31.81 215.779 89.482s89.342 134.332 89.311 215.859c-.07 168.242-136.987 305.117-305.211 305.117m167.415-228.514c-9.176-4.591-54.286-26.782-62.697-29.843-8.41-3.061-14.526-4.591-20.644 4.592-6.116 9.182-23.7 29.843-29.054 35.964-5.351 6.122-10.703 6.888-19.879 2.296-9.175-4.591-38.739-14.276-73.786-45.526-27.275-24.32-45.691-54.36-51.043-63.542-5.352-9.183-.569-14.148 4.024-18.72 4.127-4.11 9.175-10.713 13.763-16.07 4.587-5.356 6.116-9.182 9.174-15.303 3.059-6.122 1.53-11.479-.764-16.07-2.294-4.591-20.643-49.739-28.29-68.104-7.447-17.886-15.012-15.466-20.644-15.746-5.346-.266-11.469-.323-17.585-.323-6.117 0-16.057 2.296-24.468 11.478-8.41 9.183-32.112 31.374-32.112 76.521s32.877 88.763 37.465 94.885c4.587 6.122 64.699 98.771 156.741 138.502 21.891 9.45 38.982 15.093 52.307 19.323 21.981 6.979 41.983 5.994 57.793 3.633 17.628-2.633 54.285-22.19 61.932-43.616 7.646-21.426 7.646-39.791 5.352-43.617-2.293-3.826-8.41-6.122-17.585-10.714"
                    ></path>
                  </svg>
                  <p class="ml-2 text-sm">WhatsApp</p>
                </button>
              </a>
            </p>
          </div>
        </div>
      </section>
      <section id="gallery"
        class="flex flex-col items-center justify-center w-full h-auto z-30 pb-20"
      >
        <h2 class="text-2xl text-white pb-10">Experiencia Banger</h2>
        <div class="flex w-full items-center justify-center">
          <div class="grid grid-cols-3 gap-4 w-4/5">
            <div class="w-35 h-35 col-span-3 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 col-span-2 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
            <div class="w-35 h-35 col-span-2 bg-white rounded-2xl">
              <img src="" alt="photo event" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="text-white pt-10">
      <div class="flex flex-col justify-center">
        <div class="flex flex-row items-center justify-center">
          <p>Siguenos en nuestras redes</p>
          <div>
            <ul class="flex flex-row pl-3 gap-2 content-center">
              <!-- instagram -->
              <li class="my-auto">
                <a
                  href="https://instagram.com/javierbangoficial?igshid=MzRlODBiNWFlZA=="
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 2476 2476"
                    width="25"
                    height="25"
                  >
                    <path
                      fill="#ffffff"
                      d="M825.4 1238c0-227.9 184.7-412.7 412.6-412.7 227.9 0 412.7 184.8 412.7 412.7 0 227.9-184.8 412.7-412.7 412.7-227.9 0-412.6-184.8-412.6-412.7m-223.1 0c0 351.1 284.6 635.7 635.7 635.7s635.7-284.6 635.7-635.7-284.6-635.7-635.7-635.7S602.3 886.9 602.3 1238m1148-660.9c0 82 66.5 148.6 148.6 148.6 82 0 148.6-66.6 148.6-148.6s-66.5-148.5-148.6-148.5-148.6 66.5-148.6 148.5M737.8 2245.7c-120.7-5.5-186.3-25.6-229.9-42.6-57.8-22.5-99-49.3-142.4-92.6-43.3-43.3-70.2-84.5-92.6-142.3-17-43.6-37.1-109.2-42.6-229.9-6-130.5-7.2-169.7-7.2-500.3s1.3-369.7 7.2-500.3c5.5-120.7 25.7-186.2 42.6-229.9 22.5-57.8 49.3-99 92.6-142.4 43.3-43.3 84.5-70.2 142.4-92.6 43.6-17 109.2-37.1 229.9-42.6 130.5-6 169.7-7.2 500.2-7.2 330.6 0 369.7 1.3 500.3 7.2 120.7 5.5 186.2 25.7 229.9 42.6 57.8 22.4 99 49.3 142.4 92.6 43.3 43.3 70.1 84.6 92.6 142.4 17 43.6 37.1 109.2 42.6 229.9 6 130.6 7.2 169.7 7.2 500.3 0 330.5-1.2 369.7-7.2 500.3-5.5 120.7-25.7 186.3-42.6 229.9-22.5 57.8-49.3 99-92.6 142.3-43.3 43.3-84.6 70.1-142.4 92.6-43.6 17-109.2 37.1-229.9 42.6-130.5 6-169.7 7.2-500.3 7.2-330.5 0-369.7-1.2-500.2-7.2M727.6 7.5c-131.8 6-221.8 26.9-300.5 57.5-81.4 31.6-150.4 74-219.3 142.8C139 276.6 96.6 345.6 65 427.1 34.4 505.8 13.5 595.8 7.5 727.6 1.4 859.6 0 901.8 0 1238s1.4 378.4 7.5 510.4c6 131.8 26.9 221.8 57.5 300.5 31.6 81.4 73.9 150.5 142.8 219.3 68.8 68.8 137.8 111.1 219.3 142.8 78.8 30.6 168.7 51.5 300.5 57.5 132.1 6 174.2 7.5 510.4 7.5 336.3 0 378.4-1.4 510.4-7.5 131.8-6 221.8-26.9 300.5-57.5 81.4-31.7 150.4-74 219.3-142.8 68.8-68.8 111.1-137.9 142.8-219.3 30.6-78.7 51.6-168.7 57.5-300.5 6-132.1 7.4-174.2 7.4-510.4s-1.4-378.4-7.4-510.4c-6-131.8-26.9-221.8-57.5-300.5-31.7-81.4-74-150.4-142.8-219.3C2199.4 139 2130.3 96.6 2049 65c-78.8-30.6-168.8-51.6-300.5-57.5-132-6-174.2-7.5-510.4-7.5-336.3 0-378.4 1.4-510.5 7.5"
                    ></path>
                  </svg>
                </a>
              </li>
              <!-- twitter -->
              <li class="my-auto">
                <a href="https://twitter.com/this_is_banger?s=11">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="-89.00934757 -46.8841404 643.93723344 446.8841404"
                    width="33"
                    height="33"
                  >
                    <path
                      fill="#fff"
                      d="m154.729 400c185.669 0 287.205-153.876 287.205-287.312 0-4.37-.089-8.72-.286-13.052a205.304 205.304 0 0 0 50.352-52.29c-18.087 8.044-37.55 13.458-57.968 15.899 20.841-12.501 36.84-32.278 44.389-55.852a202.42 202.42 0 0 1 -64.098 24.511c-18.42-19.628-44.644-31.904-73.682-31.904-55.744 0-100.948 45.222-100.948 100.965 0 7.925.887 15.631 2.619 23.025-83.895-4.223-158.287-44.405-208.074-105.504a100.739 100.739 0 0 0 -13.668 50.754c0 35.034 17.82 65.961 44.92 84.055a100.172 100.172 0 0 1 -45.716-12.63c-.015.424-.015.837-.015 1.29 0 48.903 34.794 89.734 80.982 98.986a101.036 101.036 0 0 1 -26.617 3.553c-6.493 0-12.821-.639-18.971-1.82 12.851 40.122 50.115 69.319 94.296 70.135-34.549 27.089-78.07 43.224-125.371 43.224a204.9 204.9 0 0 1 -24.078-1.399c44.674 28.645 97.72 45.359 154.734 45.359"
                      fill-rule="nonzero"></path>
                  </svg>
                </a>
              </li>
              <!-- tiktok -->
              <li class="my-auto">
                <a
                  href="https://www.tiktok.com/@ofc_thisisbanger?_t=8cXaHjHjjXB&_r=1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="-0.32296740998066475 -3.1283528999801873 42.68446958125966 42.128352899980186"
                    height="32"
                    width="29"
                  >
                    <g fill="none">
                      <path
                        d="M14 15.599v-1.486A13.1 13.1 0 0 0 12.337 14C5.535 14 0 19.18 0 25.547 0 29.452 2.086 32.91 5.267 35c-2.13-2.132-3.315-4.942-3.313-7.861 0-6.276 5.377-11.394 12.046-11.54"
                        fill="#00f2ea"></path>
                      <path
                        d="M14.327 32c2.876 0 5.221-2.273 5.328-5.107l.01-25.292h4.65A8.72 8.72 0 0 1 24.164 0h-6.35l-.011 25.293c-.106 2.832-2.453 5.105-5.328 5.105a5.329 5.329 0 0 1-2.476-.61A5.34 5.34 0 0 0 14.327 32m18.672-21.814V8.78a8.818 8.818 0 0 1-4.81-1.421A8.85 8.85 0 0 0 33 10.186"
                        fill="#00f2ea"></path>
                      <path
                        d="M28 7.718A8.63 8.63 0 0 1 25.832 2h-1.697A8.735 8.735 0 0 0 28 7.718M12.325 20.065c-2.94.004-5.322 2.361-5.325 5.27A5.267 5.267 0 0 0 9.854 30a5.2 5.2 0 0 1-1.008-3.073c.003-2.91 2.385-5.268 5.325-5.271.55 0 1.075.09 1.572.244v-6.4a11.72 11.72 0 0 0-1.572-.114c-.092 0-.183.006-.274.007v4.916a5.286 5.286 0 0 0-1.572-.244"
                        fill="#ff004f"></path>
                      <path
                        d="M32.153 11v4.884a15.15 15.15 0 0 1-8.813-2.811V25.84c0 6.377-5.23 11.565-11.658 11.565-2.485 0-4.789-.778-6.682-2.097A11.67 11.67 0 0 0 13.528 39c6.429 0 11.659-5.188 11.659-11.564V14.668A15.15 15.15 0 0 0 34 17.478v-6.283A8.87 8.87 0 0 1 32.153 11"
                        fill="#ff004f"></path><path
                        d="M23.979 25.42V12.632A15.741 15.741 0 0 0 33 15.448v-4.89a9.083 9.083 0 0 1-4.912-2.82C26.016 6.431 24.586 4.358 24.132 2h-4.747l-.01 25.215c-.11 2.824-2.505 5.09-5.44 5.09-1.754-.002-3.398-.822-4.42-2.204-1.794-.913-2.919-2.716-2.92-4.682.003-2.92 2.44-5.285 5.45-5.289.56 0 1.098.09 1.608.245v-4.933C7.202 15.589 2 20.722 2 27.016c0 3.045 1.219 5.816 3.205 7.885A12.115 12.115 0 0 0 12.045 37c6.58 0 11.934-5.195 11.934-11.58"
                        fill="#fff"></path>
                    </g>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex flex-row py-5 justify-center">
          <div class="flex flex-row">
            <p>
              Creado por BANGER&#8482; ft
              <a
                href="https://rockodeveloper.github.io/Rdeveloper/"
                target="_blank"
                rel="noopener noreferrer">Rdeveloper</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</Layout>
